################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
# 忽略 VS 编译输出文件夹
/x64/
/Debug/
/Release/

# 忽略 VS 项目用户配置文件
*.vcxproj.user
*.vcxproj.filters
*.sln.docstates

# 忽略临时文件
*.tmp
*.log
# 忽略编译输出目录
x64/
Debug/
Release/
# 忽略编译中间文件
*.tlog
*.obj
*.pdb
*.idb
*.ilk